html,
body {
html,
body {
    height: 100%;
}

/* header {
    position: fixed;
    top: 0;
    width: 100%;
} */
/* do we want a fixed header? */


.mm-logo-gradient {
    color: linear-gradient(to right, #009900, #006e00);
}

.mm-light-green {
    color: #009900;


}

.mm-dark green {
    color: #006e00;
}


body {
    background-color: rgb(192, 168, 145);
    background: linear-gradient(to bottom, rgb(78, 76, 73), #fff);
    background-repeat: no-repeat;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffffee;
}

/* .grid-container-btns {
    display: grid;
    grid-template-columns: auto auto;
    margin: 15px;
    gap: 10px;
    
} */

.big-btn {
    width: 400px;
}

}

/* Works but I can't get it to be responsive though lol T_T */

/* .d-grid */

/* .ombre-background {
    background: linear-gradient(to bottom, rgb(167, 133, 99), #fff);
} */

table {
    width: 75%;
    width: 75%;
    justify-content: center;
    border-spacing: 0;
    border-collapse: collapse;
}

td {
}

td {
    text-align: center;
    border: 4px solid black;
}

tbody tr:nth-child(even) {
    border: 4px solid black;
}

tbody tr:nth-child(even) {
    background-color: hsl(223, 64%, 90%);
}

/* Nina */
.facts-section {
    background-color: #fff;
    text-align: center;
    padding: 25px 50px;
    margin: 20px 50px 30px;
}

.facts-section h2 {
    font-family: "Oswald", sans-serif;
    color: #3f3b3b;
    font-size: 2.75rem;
    padding-bottom: 20px;
}

.facts-section h4 {
    font-family: "Mulish", sans-serif;
    font-weight: bold;
}

.question {
    margin: 5%;
}

.faq-banner {
    margin: 20px 50px 30px;
    color: white;
}

.bg-img-holder {
    background-image: url("../images/faq-model.jpg");
    filter: grayscale(100%);
    opacity: 50%;
    height: 300px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.absolute {
    position: absolute;
}







/* Media queries */

@media screen and (min-width:1300px) {
    .facts-section {
        background-color: #fff;
        text-align: center;
        padding: 15px 500px;
        margin: 20px 150px 30px;
    }
}

@media screen and (min-width: 1300px) {
    .facts-section {
        background-color: #fff;
        text-align: center;
        padding: 15px 150px;
        margin: 20px 50px 30px;
    }
}